[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
[submodule "External/implot"]
	path = External/implot
	url = https://github.com/epezent/implot.git
[submodule "External/imguifiledialog"]
	path = External/imguifiledialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
